.fondo-general{

    background-image: url(../img/fondo-landing-footer.jpg);
    background-size:cover;
    
}

.contacto-simple {

   display: flex; 
   justify-content:space-between;

    p{

        font-family: $fuenteTitulos;
    }

}

.contacto-simple-informacion{

    flex-basis: 40%;
    line-height:1.8;
    font-size:1.3rem;
    
}

.contacto-principal{

    position:relative;
}

.contacto-simple-formulario{

    display: flex;
    flex-direction: column;
    box-shadow: 10px 11px 16px -4px rgba(0,0,0,0.15);
    background-color:$colorPrincipal;
    padding:4rem;
    flex-basis:70%;
    width:35%;
    position:absolute;
    left:65%;
    top:5%;
    
    input{

        padding:0.5rem;
        margin:0.1rem 0rem;
                
    }

    label{

        font-size:1.3rem;
    }
}

address{

    
    i{
       
        font-size:1.8rem;
        padding:1rem;   
        color:$colorGrisOscuro;       
    }

    p{
               
        color: $colorGrisOscuro;
        font-size:1.1rem;
        font-weight: 500;
        font-style:normal;
        margin:0.5rem;
        
    }
}
