@import 'variables';

.barra-navegacion-principal{

    background-color:$colorVerde;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
    
    .logo{

       
        
        img{
            
            padding:1rem;
            max-width: 8rem;
            margin:0rem 5rem;
        }
    }

}


.menu li{

    position:relative;
}


.menu{

    display: flex;
    justify-content: space-between;
}

ul {

    margin:0;
     
    li{
        
        list-style: none;
        margin:0rem 2rem;

                       
            a{
                color: $colorPrincipal;
                
                text:{
                
                    decoration: none;
                    transform: uppercase;       
                    align:center;       

                }

                font:{
                    
                    family: $fuenteTitulos;
                    weight: 500;
                }  
                                 
            }

            a:hover{

                color:$colorVerdeClaro;
            }
    }

}

.menu>li:hover .submenu>li{

    display:flex;
}

.submenu{

    display:flex;
    flex-direction: column;
    position:absolute;
    background-color:$colorVerde;
    padding:0.8rem 0rem;
    
    left:-2rem;

        
    
    li{

      display: none;
      padding:1rem 0rem;
   
    }

   
}



@media (min-width:$breakPointComputadora){

    .barra-navegacion-principal{

       
    }
}
