@import 'variables';

.barra-navegacion-principal{

    background-color:$colorVerde;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
    flex-wrap: wrap;
    
    .logo{
        
        img{
            
            padding:1rem;
            max-width: 8rem;
            margin:0rem 5rem;
        }
    }

}

.fa-bars{

    color:#fff;
    padding:1rem;
    display: none;
}



.menu li{

    position:relative;
}


.menu{

    display: flex;
    justify-content: space-between;
}

ul {

    margin:0;
     
    li{
        
        list-style: none;
        margin:0rem 2rem;

                       
            a{
                color: $colorPrincipal;
                
                text:{
                
                    decoration: none;
                    transform: uppercase;       
                    align:center;       

                }

                font:{
                    
                    family: $fuenteTitulos;
                    weight: 500;
                }  
                                 
            }

            a:hover{

                color:$colorVerdeClaro;
            }
    }

}

.menu>li:hover .submenu>li{

    display:flex;
    visibility: visible;
    opacity: 1;

}

.submenu{

    display:flex;
    flex-direction: column;
    position:absolute;
    background-color:$colorVerde;
    padding:0.8rem 0rem;
    left:-2rem;       
    
    li{

      display: none;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      padding:1rem 0rem;
            
    }
   
}



@media (max-width:$breakPointTabletVertical){

    .menu {

      display: block;
      padding:0rem;
      

      li{
          margin:2rem;
      }
      
    }

    .submenu{

        display: block;
        position:relative;
        left:0;
        padding:0rem 0rem;
        

        li{
            margin-bottom:0.5rem;
            padding:0;
        }
     
    }

    body{
        
        color:blue;
        
    }

    
    .barra-navegacion-principal{

        flex-direction: column;

        .logo{
        
            img{
                
                padding:1rem;
                max-width:12rem;
                margin:0rem 5rem;
            }
        }
    }

    


}
