.acerca-de-mi{

    display:flex;
    justify-content: center;   
    
    .acerca-de-mi-imagenes{

        flex-basis: 20rem;
        margin:5rem 0rem;
        

        img{
            max-width:35rem;
            border-radius: 100%;
            box-shadow: 10px 11px 16px -4px rgba(0,0,0,0.15);
          
        }
    }
}

.acerca-de-mi-descripcion{

    flex-basis: 37%;
    margin:5rem;

    h3,h4{
        font-size:2rem;
        margin:0;
        color:$colorGrisOscuro;
        font-family: $fuenteTitulos;
    }

    p{

        font-size:1.5rem;
    }

}

.firma{

    text-align:center;
    padding:2rem;

    img{

        width:6rem;
        display: inline;
                
    }

}

.redes-sociales {

    text-align-last: center;

    i{

        background-color: $colorVerdeClaro;
        color:$colorGrisOscuro; 
        font-size:3rem;
        padding-top:1rem;
        width:5rem;
        height:5rem;
        border-radius: 100%;
            

    }
}