.barra-navegacion-principal {
  background-color: #107066;
  height: 5rem;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.barra-navegacion-principal .logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.barra-navegacion-principal .logo img {
  padding: 1rem;
  max-width: 8rem;
  margin: 0rem 5rem;
}

.barra-navegacion-principal .nav {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

ul li {
  list-style: none;
  margin: 0.3rem 1.5rem;
  display: inline-block;
}

ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

header {
  width: 100%;
  height: 80rem;
  background-image: url(../img/fondo-p.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-descripcion {
  -ms-flex-preferred-size: 60rem;
      flex-basis: 60rem;
  padding: 4rem;
  max-width: 90rem;
  font-weight: 500;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70rem;
  width: 93%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
  color: #3C3C3F;
  margin: 0;
}

.descripcion-principal {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #3C3C3F;
  padding: 1rem 0rem;
}

.imagen-fondo {
  background-image: url(../img/fondo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center center;
}

.servicios {
  max-width: 52rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  cursor: pointer;
}

.servicios:hover {
  -webkit-box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.servicios:hover i {
  color: #3C3C3F;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.servicio-icono {
  padding: 2rem;
  color: #000;
}

.servicio-icono i {
  color: #707070;
  background-color: #94D6C8;
  border-radius: 100%;
  padding: 2rem;
  font-size: 4rem;
}

.servicio-descripcion h3 {
  text-transform: uppercase;
  line-height: 0.5;
  font-size: 2rem;
}

.servicio-descripcion p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0;
}

.acerca-de-mi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.acerca-de-mi .acerca-de-mi-imagenes {
  margin: 5rem 0rem;
}

.acerca-de-mi .acerca-de-mi-imagenes img {
  max-width: 30rem;
  border-radius: 100%;
  -webkit-box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
}

.acerca-de-mi-descripcion {
  max-width: 50rem;
  margin: 5rem;
}

.acerca-de-mi-descripcion h3, .acerca-de-mi-descripcion h4 {
  font-size: 2rem;
  margin: 0;
  color: #3C3C3F;
  font-family: "Poppins", sans-serif;
}

.acerca-de-mi-descripcion p {
  font-size: 1.5rem;
}

.firma {
  text-align: center;
  padding: 2rem;
}

.firma img {
  width: 6rem;
  display: inline;
}

.redes-sociales {
  text-align-last: center;
}

.redes-sociales i {
  background-color: #94D6C8;
  color: #3C3C3F;
  font-size: 3rem;
  padding-top: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2;
  background-color: #F5F5F5;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  background-color: #107066;
  color: #fff;
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  border: none;
  -webkit-box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
}

.btn-transparente {
  border: 1px solid #3C3C3F;
  background: none;
  color: #3C3C3F;
}

.contenedor-grande {
  width: 100%;
  background-color: #107066;
  opacity: 0.9;
}

.contenedor-mediano {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #312F2F;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0;
  border-bottom: 20px solid #94D6C8;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}

.listado-libros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.libro-imagen {
  width: 100%;
}

.libro-imagen img {
  max-width: calc(25rem - 2rem);
  max-height: 30rem;
  -o-object-fit: fill;
     object-fit: fill;
  margin: auto;
  -webkit-box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
}

.libros-item {
  -ms-flex-preferred-size: 20rem;
      flex-basis: 20rem;
  margin: 2rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  color: #312F2F;
}

.autor {
  font-weight: 300;
  line-height: 0.8;
  font-size: 1.5rem;
  color: #312F2F;
}

.fa-star {
  color: #E3C853;
  -webkit-box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
  font-size: 1.5rem;
}

.testimoniales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 4rem;
  max-width: 60rem;
}

.testimoniales-imagen {
  text-align: center;
}

.testimoniales-imagen img {
  width: 20rem;
  border-radius: 100%;
}

.testimoniales-imagen h3 {
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
  margin-top: 1rem;
  color: #000;
}

.testimoniales-imagen p {
  font-weight: 600;
  margin: 0;
}

.testimoniales-descripcion p {
  font-size: 1.5rem;
  font-style: italic;
}

.testimoniales-descripcion p i {
  font-size: 4rem;
}

.fondo-general {
  background-image: url(../img/fondo-landing-footer.jpg);
  background-size: cover;
  opacity: 0.9;
}

.contacto-simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacto-simple p {
  font-family: "Poppins", sans-serif;
}

.contacto-simple-informacion {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  line-height: 1.8;
  font-size: 1.3rem;
}

.contacto-principal {
  position: relative;
}

.contacto-simple-formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 11px 16px -4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 5rem;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  width: 38%;
  position: absolute;
  left: 70rem;
  top: 2rem;
}

.contacto-simple-formulario input {
  padding: 1rem;
  margin: 0.5rem 0rem;
}

.contacto-simple-formulario label {
  font-size: 1.5rem;
}

address i {
  color: #3C3C3F;
  font-size: 2.5rem;
  padding: 1rem;
}

address p {
  color: #3C3C3F;
  font-size: 1.3rem;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  margin: 0.5rem;
}

footer {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.pie-de-pagina {
  background-color: #107066;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
  height: 30rem;
}

.logo img {
  width: 30rem;
  margin: 0 auto;
}

footer .navegacion {
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
}

.navegacion ul {
  padding: 0;
}

.navegacion ul li {
  width: 9rem;
  margin: 0;
}

.navegacion ul li a {
  text-transform: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.logo-f {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.contacto-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rs-footer {
  text-align: center;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.rs-footer i {
  background: none;
  color: #fff;
  display: inline-block;
}

footer h3 {
  color: #fff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.copyright {
  border-top: 1px solid #fff;
  background-color: #107066;
  padding: 1rem 2rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

small a {
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=estilos.css.map */