@import 'nav';
@import 'variables';
@import 'header';
@import 'servicios';
@import 'acerca-de-mi';
@import 'contacto-landing';
@import 'footer';

/*@mixin estilos-titulos($fondo){


}

@include parallamaralafuncion();*/

*, *:before, *:after {

    box-sizing: inherit;
}

html{

    font-size:62.5%;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height:2;
    background-color:#F5F5F5;

}

img {
   
    max-width: 100%;
    display: block;
    
}


.btn{

    background-color: $colorVerde;
    color:$colorPrincipal;
    text-decoration:none;
    padding:1.3rem 2.5rem;
    font-family: $fuentePrincipal;
    text-transform: uppercase;
    font-weight: 500;
    font-size:1.4rem;
    border:none;
    box-shadow: 10px 11px 16px -4px rgba(0,0,0,0.15);
    
    
}

.btn-transparente{

    border:1px solid $colorGrisOscuro;
    background:none;
    color:$colorGrisOscuro;
}

.contenedor-grande{

    width:100%;
    background-color:$colorVerde;
    opacity:0.9;
    
}

.contenedor-mediano{

    max-width:100rem;
    margin:0 auto;
    padding-top:5rem;   
    padding-bottom: 5rem; 
}

main{

    text-align:center;
}

h2{
    
    font-family:$fuenteTitulos;
    color:#312F2F;
    text-transform: uppercase;
    display: inline-block;
    line-height:0;
    border-bottom:20px solid $colorVerdeClaro;
    text-shadow: 1px 2px rgba(0,0,0,0.1);
    font-size:2rem;
   
}

.bajada-titulo{

    font-size:1.5rem;
    
    
}

.listado-libros{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align:left;
        
       
}

.flecha-izquierda,.flecha-derecha{

    align-self: center;
    color:$colorGrisOscuro;
    box-shadow: 10px 10px 13px 0px rgba(232,232,232,1);
    margin-bottom:10rem;
}

.libro-descripcion{

    padding:0rem 2rem;
}

.libro-imagen{

    width:100%;
    
  
    img{

        max-height: 25rem;
        object-fit: fill;
        margin:auto;
        box-shadow: 10px 11px 16px -4px rgba(0,0,0,0.15);

    }
}



.libros-item{

    flex-basis: 20rem;
    margin:1rem;  
    
}

h3{

    font-family: $fuenteTitulos;
    font-size:1.3rem;
    line-height: 1.3;
    color: #312F2F;
}

.autor{

  font-weight: 300;  
  line-height: 0.8;
  font-size: 1.3rem;
  color: #312F2F; 
  
}

.fa-star{

    color:#E3C853;
    font-size:1.3rem;
    box-shadow: 10px 10px 13px 0px rgba(232,232,232,1);
}


.testimoniales{

    display:flex;
    align-items: center;
    margin: 0 auto;
    padding:2rem 0rem;
    max-width:50rem;
        
}

.testimoniales-detalle{

    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin:0 auto;
    
}

.testimoniales-imagen{


    text-align:center;
    margin: 0 auto;
   
    img{

        width:10rem;
        border-radius: 100%;
        
    }

    h3{

        font-weight: 600;
        font-size:1.5rem;
        margin:0;
        margin-top:1rem;
        color:#000;

    }
    
    p{

        font-weight: 600;
        margin:0;
        font-size:1.3rem;
        
    }

}

.testimoniales-descripcion{

    p{

        font-size:1.3rem;
        
        line-height: 1.5;

        i{
            font-size:3rem;
        }
        
    }

}


