@import '_nav';
@import 'variables';
@import 'header';
@import 'servicios';
@import 'acerca-de-mi';

*, *:before, *:after {

    box-sizing: inherit;
}

html{

    font-size:62.5%;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height:2;
    background-color:#F5F5F5;

}

img {
   
    max-width: 100%;
    display: block;
    

}


.btn{

    background-color: $colorVerde;
    color:$colorPrincipal;
    text-decoration:none;
    padding:1.5rem 3rem;
    font-family: $fuentePrincipal;
    text-transform: uppercase;
    font-weight: 700;
    font-size:1.5rem;
    
}

.btn-transparente{

    border:1px solid $colorGrisOscuro;
    background:none;
    color:$colorGrisOscuro;
}

.contenedor-grande{

    width:100%;
    background-color:$colorVerde;
    opacity:0.9;
    
}

.contenedor-mediano{

    max-width:60%;
    margin:0 auto;
    padding-top:10rem;    
}

h2{
    
    text-align:center;
    font-family:$fuenteTitulos;
    text-transform: uppercase;
    display: inline-block;
    line-height:0;
    border-bottom:20px solid $colorVerdeClaro;

}

.listado-libros{

    display: flex;
    justify-content: center;
       
    }

.libro-imagen{

    width:100%;
  
    img{

        max-width: calc(25rem - 2rem);
        max-height: 30rem;
        object-fit: fill;
        margin:auto;
        box-shadow: 10px 11px 16px -4px rgba(0,0,0,0.15);

    }
}

.libros-item{


    flex-basis: 20rem;
    margin:2rem;
    
    
}

h3{

    font-family: $fuenteTitulos;
    font-size:1.5rem;
    line-height: 1.3;
    color: #312F2F;
}

.autor{

  font-weight: 300;  
  line-height: 0.8;
  font-size: 1.5rem;
  color: #312F2F; 
  
}

.fa-star{

    color:#E3C853;
    box-shadow: 10px 11px 16px -4px rgba(0,0,0,0.15);
    font-size:1.5rem;
}


.testimoniales{

    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding:4rem;
    width:30%;
    
}

.testimoniales-imagen{


    text-align:center;
   
    img{

        width:20rem;
        border-radius: 100%;
    }

    h3{

        font-weight: 600;
        font-size:2rem;
        margin:0;
        margin-top:1rem;
        color:#000;

    }
    
    p{

        font-weight: 600;
        margin:0;
        
    }

}


.testimoniales-descripcion{

    p{

        font-size:1.5rem;
        font-style: italic;

        i{
            font-size:4rem;
        }
        
    }

}

.fondo-general{

    background-image: url(../img/fondo-landing-footer.jpg);
    background-size:cover;
    opacity:0.9;


}

.contacto-simple {

   display: flex; 
   justify-content:space-between;
   

}

.contacto-simple-informacion{

    flex-basis: 40%;
    line-height:1.8;
    
}

.contacto-simple-formulario{

    display: flex;
    flex-direction: column;
    box-shadow: 10px 11px 16px -4px rgba(0,0,0,0.15);
    background-color:$colorPrincipal;
    padding:5rem;
}

address{

    i{

        background-color: $colorGrisOscuro;
        color:$colorPrincipal;
        padding:1rem;
        border-radius: 100%;
    }

    p{

        
    }
}

footer{
    
    font-family: $fuentePrincipal;
    color: $colorPrincipal;
    
}

.pie-de-pagina{

    background-color: $colorVerde;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding:2rem;
        
}

.logo img{

    width:30rem;
    
}

.navegacion ul{

    padding:0;
}


.navegacion ul li a{

    text-transform: none;
    font-family: $fuentePrincipal;
    font-size:1.5rem;
    font-weight: 300;
        
}

.navegacion{

    
        
}

.rs-footer{

    text-align:center;
   

    i{
        background:none;
        color:$colorPrincipal;
    }
}

footer h3{

    color:$colorPrincipal;
    font-weight: 500;
    font-family: $fuentePrincipal;
}

.copyright{

    border-top: 1px solid $colorPrincipal;
    background-color:$colorVerde;
    padding:1rem 2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

small{

    a{
        color:$colorPrincipal;
        text-decoration:none;
    }
}
